<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dot Note</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Deployment</key>
	<string>$(Deployment)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://newsky2.kma.go.kr</key>
			<string></string>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>접근을 허용하면 Dot Note 가 사용자의 위치정보를 사용하여 날씨정보를 나타낼 수 있습니다. 허용하지 않는다면 일부 기능이 동작하지 않습니다,</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>접근을 허용하면 Dot Note 가 사용자의 앨범에 있는 사진을 불러오고 저장할 수 있습니다. 허용하지 않는다면 일부 기능을 사용할 수 없습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareExtraBold.ttf</string>
		<string>NanumBarunGothicBold.ttf</string>
		<string>NanumBrush.ttf</string>
		<string>NanumBarunGothic.ttf</string>
		<string>NanumMyeongjoEco.ttf</string>
		<string>SSRock.ttf</string>
		<string>SSShinb7_otf.otf</string>
		<string>SSShinb7.ttf</string>
		<string>SSFlowerRoad.ttf</string>
		<string>SSVeryBadHandwriting.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
